---

---
<hr>
<ul>
    <li><a href="gmail.com">Gmail</a></li>
    <li><a href="youtube.com">Youtube</a></li>
    <li><a href="google.com">Google</a></li>
</ul>
<hr>

<style>
    ul {
        display:flex;
        flex-direction: row;
    }
</style>