<h2>Title</h2>
<p>Paragraph text ydaydaydyadyadad</p>

<ul>
    <li>#cool</li>
    <li>#funny</li>
</ul>
<p class="date">June 10, 2023</p>

<style>
    li {
        color: lightblue
    }
    p {
        color: rgb(90, 90, 90)
    }
    ul {
        display: flex;
    }
    h2 {
        display: flex;
    }

</style>
